#title-box {
  padding:50px;
  position:relative;
}
#title-box h3 {
  position:relative;
  z-index:0;
}
#title-box #completed {
  left:70%;
  position:absolute;
  top:20%;
  width:10em;
  z-index:1;
  opacity: 0.7;
  transform: rotate(60deg);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 2em;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
svg.icon {
  pointer-events: none;
}
#whatabout {
  padding-top: 2em;
  height: 100%;
  width: 100%;
}
#map {
  width: 100%;
  height: 100%;
}
#us-map{
  width: 100%;
  height: 100%;
}
path.biden, circle.biden {
  stroke: 0 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #0000cc;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  margin-bottom: 60px;
}
#about .modal-title {
  text-align: center;
}
.whatabout-back {
  margin-top: 1em;
}
.address {
  font-size: 85%;
}
.roast h5, h6 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.roast .info {
  font-size: 85%;
  padding-left: 1em;
  padding-bottom: .5em;
}
.roast .recipe {
  font-size: 85%;
  padding-left: 1em;
}
.roast hr {
  margin-top: .2em;
  margin-bottom: .4em;
}
.roast .tasting-notes {
  font-size: 85%;
  padding-left: 1em;
  padding-bottom: 2em;
}