html {
  height: 100%;
}
body {
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
}
#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #00cc00 !important;
  cursor: pointer;
}
path.biden, circle.biden {
  stroke: 0 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #0000cc;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
svg.icon {
  pointer-events: none;
}
#whatabout-joe {  
  content: "";
  background: url('/img/joe.jpg');
  background-position: right bottom;
  opacity: 0.5;
  background-repeat: no-repeat;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  z-index: -1;
  margin-right: 1em;
}
#whatabout {
  padding-top: 2em;
  height: 100%;
}
.espresso-recipe {
  font-size: 80%;
  margin-bottom: 0;
}
.tasting-notes {
  font-size: 80%;
  padding-left: 2em;
}